<!DOCTYPE html>
<html class="no-js">
  <head>
		<!-- Encoding -->
	  <meta charset="utf-8">
		
		<!-- Force latest IE rendering engine & Chrome Frame. Remove if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<!-- Identity -->
		<title><%= yield(:title) || SYSTEM_LABEL %></title>
		<%= tag :meta, name: "keywords", content: yield(:meta_keywords) %>
		<%= tag :meta, name: "description", content: t("meta.description") %>
		<%= tag :meta, name: "author", content: SYSTEM_LABEL %>

		<!-- Security -->
		<%= csrf_meta_tags %>

    <!-- Stylesheets -->
		<%= stylesheet_link_tag "application" %>

    <!-- JavaScripts -->
    <%= javascript_include_tag "application" %>
  </head>

  <body>
	  <div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	      <div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>

					<%= link_to SYSTEM_LABEL, root_path, class: "brand" %>

					<div class="nav-collapse">
						<%= render_visitor_menu %>
						<p class="navbar-text pull-right"><%= render_account_header_info %></p>
					</div>
	      </div>
	    </div>
	  </div>

    <div class="container">
			<%= render "shared/flash_messages", flash: flash %>
			<%= yield :breadcrumbs %>
      <%= yield %>

			<footer>
				&copy; <%= SYSTEM_LABEL %>, <%= render_system_version %> | Developed by <%= link_to DEVELOPER_LABEL, DEVELOPER_URL %>
			</footer>
		</div>
				
		<div id="ajax">
			<%= image_tag "main/spinner.gif", alt: "spinner" %>
			<p>Please wait...</p>
		</div>
  </body>
</html>
